name: Publish to JSR

on:
  push:
    tags:
      - '*@pandaci/proto.*.*'

jobs:
  publish:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@v4

      - name: Publish package
        run: deno publish
